*								{ margin: 0; padding: 0; }
body							{ }



h2								{ font-family: Georgia, Serif; font-size: 36px; text-align: center; 
								  font-weight: normal; }

#page-wrap						{ width: 760px; margin: 0 auto; 
								  padding: 50px 0; }

#slider							{height: 327px; overflow: hidden;
								  position: relative; margin: 50px 0;border-radius:20px;background-image:url("../images/background.png"); }
								  
                                /* DEFAULT is for three panels in width, adjust as needed
                                   This only matters if JS is OFF, otherwise JS sets this. */								  
#mover							{ width: 880px; position: relative; }

.slide							{ padding: 40px 30px; width: 750px; float: left; position: relative; }
.slide h1						{ font-family: Helvetica, Sans-Serif; font-size: 30px; letter-spacing: -1px;
								  color: #ac0000; }
.slide p						{ color: #999; font-size: 12px; line-height: 22px; width: 300px; }
.slide img						{ position: absolute; top: 20px; left: 400px; }

#slider-stopper					{ position: absolute; top: -10px; right:0px; background: white; color: red;
								  padding: 3px 8px; font-size: 0px;text-decoration:none; }